body {
    background-image: url("./images/light-honeycomb-dark.png");
    background-color: #000080;
}
h1, h2, h3 {
    font-family: 'Cutive', serif;
    color: #F29F05;
}
.nav-link {
    color: #FFD800;
    font-size: 1.5rem;
}
.nav-link.active {
    color: #F29F05;
    font-size: 1.5rem;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px; /* Set the fixed height of the footer here */
    line-height: 40px; /* Vertically center the text there */
    color: #F29F05;
    text-align: center;
}